body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(54, 54, 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wolf {
  height: 220px;
}
body{
  background:white

  !important;
}
.signIn {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}

.signUp {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.profile {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.addAnimal {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
  margin-top: 20px;
}

.tour{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.navbar{
  background-color: rgb(93, 145, 89);
  width: 100%;
}

.wolfnav{
  height: 60px
}

h2{
  font-family: 'Dosis', sans-serif;
}

p h6 {
  font-family: 'Roboto', sans-serif;
}

.Mapcontainer{
  width: 500px;
}

.leaflet-container {
  background-color: black;
}

.x {
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
  
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgb(93, 145, 89) !important;
  border-color: black !important;
}

.animalDetail {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.editAnimal {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}

.tourDetail{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.btn,.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus  {
  background-color: #5d9159 !important;
  border-color: black !important;
  
  
}

.deleteEdit{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

p{
  text-decoration: none !important;
}

.news{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.button-profile{
  display: flex;
  justify-content: space-between;
}

.editTour{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;

}

.mySignUpBtn{
  width: 150px;
  margin: 10px;
}

.xSize {
  height: 30px
}
input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.link {
  text-decoration: none  !important;
  color: green;
}

.h2Margin{
  margin-top: 10px;
  margin-bottom: 10px;
}