body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wolf {
  height: 150px;
}

.signIn {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}

.signUp {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
  border: 0.5px solid;
  border-radius: 15px;
  box-shadow: 6px 5px 6px 5px rgba(20, 19, 19, 0.533);
}
.profile {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.addAnimal {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}

.tour{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  text-align: center;
}
.navbar{
  background-color: blueviolet;
  width: 100%;
}

.wolfnav{
  height: 60px
}

h2{
  font-family: 'Dosis', sans-serif;
}

p h6 {
  font-family: 'Roboto', sans-serif;
}

.Mapcontainer{
  width: 500px;
}